
h1 {
  color: white;
  letter-spacing: 0.1em;
  background-color: #1d2731;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 80px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 5px 0px black;
}


h2 {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  
}
body {
  width: auto;
  background-color: #328cc1;
}
main {
  background-color: #ffffff;
  padding-top: 0px;

  margin-left: 0px;
  margin-right: 0px;
  
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d2731;
}

li {
  float: left;
}

li a {
  width:100%;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
li a:hover:not(.active) {
  background-color: #111;
}

table {
  border: 2px solid black;
  width: 100%;

  background-color: white;
}
tr {
  border: 2px solid black;
  color: black;
}
th {
  border: 2px solid black;
}
tr:nth-of-type(odd) {
  background: #4d88f2;
}
footer {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 20px;
  background-color: #286da8;
  color: white;
}
footer a {
  color: #1d2731;
}

.active {
  background-color: #d9b310;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.mainstyle{
  padding-right:10px;
  padding-left:10px;
  height:auto;
  background-image:linear-gradient(to bottom, #286DA8, #0B3C5D,#0B3C5D,#286DA8);	
}

#wrapper {
  background-image: linear-gradient(#fff, #328cc1, #0b3c5d);
  margin-left: auto;
  margin-right: auto;
  border-color: #000033;
  min-width: 960px;
  max-width: 2048px;
  width: 80%;
  box-shadow: 3px 3px 5px 0px black;
}
#reimg1{
	width: 10em;
	height:10em;
	max-width: 20em;
	max-height: 20em;
	background-color: blue;
	background-image: url("placehold.png");
	background-size: 100% 100%;
	
}
#reimg2{
	width: 10em;
	height:10em;
	max-width: 20em;
	max-height: 20em;
	background-color: blue;
	background-image: url("placehold.png");
	background-size: 100% 100%;
}
#reimg3{
	width: 10em;
	height:10em;
	max-width: 20em;
	max-height: 20em;
	background-color: blue;
	background-image: url("placehold.png");
	background-size: 100% 100%;
}
#reimg4{
	width: 10em;
	height:10em;
	max-width: 20em;
	max-height: 20em;
	background-color: blue;
	background-image: url("placehold.png");
	background-size: 100% 100%;
}
#reimg5{
	width: 10em;
	height:10em;
	max-width: 20em;
	max-height: 20em;
	background-color: blue;
	background-image: url("placehold.png");
	background-size: 100% 100%;
	
	
}
@media (max-width: 750px){
	main{
		width:100%;
	}
	h1{
		display:none;
	}
	h2{
		box-shadow:none;
	}
	ul{
		display:block;
	}
	body{
		display:block;
	}
	ul li{
		display:none;
	}
	
	table th tr{
		width:100%;
		display:inline;
		
	}
	th a{
		margin-left: 0;
		margin-right: 0;
	}
	footer{
		display:none;
	}
	#wraper{
		display:none;
	}

	
}
	
