body{
	background-image:linear-gradient(to bottom, #286DA8, #0B3C5D,#0B3C5D,#286DA8);
	padding: 0em; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d2731;
}

li {
  float: left;
}
li a {
  width:100%;
  display: block;
  color: white;
  text-align: center;
  padding-left:1em;
  padding-right:1em;
  padding-top:.5em;
  padding-bottom:.5em;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
li a:hover:not(.active) {
  background-color: #111;
}

.fleximage {
  /*flexbox code*/
  display: flex;
  flex-flow: row nowrap;
  
  align-items: center;
  background-size: contain;
  max-width:100%;
}

.wrapper {
  /*flexbox code*/
  display: flex;  
  flex-flow: row wrap;
  
  
  font-weight: bold;
  text-align: center;
  
}

.wrapper > *{
  padding: 10px;
  /*flexbox code*/
  flex: 1 100%;
}

.header {
  background: blue;
  color:white;
}

.footer {
  background: blue;
  color:white;
}

.main {
  background: deepskyblue;
  color:darkblue;
}

.side1 {
  background: darkblue;
  color:white;
}

.side2 {
  background: darkblue;
  color:white;
  display:none;
}
.icon{
	height:4em;
	width:4em;
	float:left;
}

.navbar{padding:0;}

/*flexbox code*/
.main  { flex: 3 0px; }
/*reordering*/
.side1 { order: 1; }
.navbar{ order:1;}  
.main    { order: 2; }
.side2 { order: 3; }
.footer  { order: 5; }

@media all and (min-width: 600px) {
  body{
	  padding:1.5em;
  }
  /*flexbox code*/
  .side { flex: 1 0 0; }
  
  .side2 { display:none; }
  .navbar{display:block;}
  
}


@media all and (min-width: 800px) {

  /*reordering*/
  .side1 { order: 1; }
  .navbar{ order:1;}  
  .main    { order: 2; }
  .side2 { order: 4; display:block;}
  .footer  { order: 5; }
  
  .fleximage{max-height:90%; margin-left:auto;margin-right:auto}
  
}

